.login__text {
  margin: 15px 0 0;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1280px) {
  .login__text {
    margin-top: calc((100vw - 320px) / (1279 - 320) * (15 - 20) + 20px);
  }
}
